.u-section-1 .u-sheet-1 {
  min-height: 573px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 52px auto 0;
}

.u-section-1 .u-table-1 {
  width: 1021px;
  margin: 37px auto 0;
}

.u-block-ecde-10 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-block-ecde-25 {
  height: 46px;
}

.u-section-1 .u-btn-4 {
  --radius: 2px;
  background-image: none;
  margin: 52px 59px 38px auto;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 44px;
    margin-left: 126px;
    margin-right: 126px;
  }

  .u-section-1 .u-table-1 {
    width: 547px;
    height: 277px;
    margin-top: 34px;
    margin-left: 87px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 33px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 33px;
    margin-left: -25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 126px;
    margin-left: 126px;
    font-size: 2.6666666666666665rem;
  }

  .u-section-1 .u-table-1 {
    margin-top: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 79px;
    margin-left: 79px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-top: 9px;
    margin-left: 0;
  }
}